body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #fdfdfd;
    color: #333;
}

header {
    background-color: #202020;
    color: white;
    padding: 10px;
}

header h1, header nav {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
