<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>MovieHub 電影討論平台</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- 頂部黑底白字橫條 -->
    <header>
        MOVIEHUB
    </header>

    <!-- 左側 sidebar -->
    <div class="sidebar">
        <a href="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='avatar.png') }}" alt="Avatar" class="avatar">
        </a>
        <div class="category">
            {% if session.get('username') %}
                {{ session['username'] }}
            {% else %}
                 訪客
            {% endif %}
        </div>

        <a href="#" class="category">愛情片</a>
        <a href="#" class="category">恐怖片</a>
        <a href="#" class="category">喜劇片</a>
        <a href="#" class="category">科幻片</a>
        <a href="#" class="category">動漫</a>
    </div>

    <!-- 主內容 -->
    <div class="main-content">
        {% block content %}{% endblock %}

        <footer>
            <p>&copy; 2025 MovieHub. Made By KOOJI.</p>
        </footer>
    </div>
</body>
</html>
